@model IEnumerable<Optica_Gaido.Models.HealthInsurance>

@{
    ViewData["Title"] = "Obras sociales";
}

<!-- Data table -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Obras sociales</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" >Inicio</a></li>
                <li class="breadcrumb-item active">Obras Sociales</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <!-- Modal -->
    <div id="modalCreate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <form role="form" class="needs-validation" method="POST" asp-area="" asp-controller="HealthInsurances" asp-action="Create" id="form-create" autocomplete="off" novalidate>
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar obra social</h4>
                        <button type="button" class="close" id="btnCloseModalCreate" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">                                    
                                    <div class="col-12 mb-3">
                                        <label asp-for="First().Name" class="mb-0"></label>
                                        <input type="text" class="form-control" id="" name="HealthInsurance.Name" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese un nombre
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="sendForm('create')" class="btn btn-success waves-effect waves-light">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
    
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h2 class="card-title">Listado de obras sociales</h4>
                        <button id="btnAddHI" type="button" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal" data-target="#modalCreate">Agregar obra social</button>
                    </div>
                    <div class="table-responsive m-t-10">
                        <table id="HealthInsurancesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (var hi in Model) {
                                    <tr data-id="@hi.ID">
                                        <td>
                                            @Html.DisplayFor(c => hi.Name)
                                        </td>
                                        <td class='text-center'>
                                            <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='editHI(@hi.ID, "edit")'><i class="bi bi-pencil"></i></button>
                                            <button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='deleteHI(@hi.ID, "delete")'><i class='fas fa-trash-alt'></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <form id="form-delete" method="POST" asp-area="" asp-controller="HealthInsurances" asp-action="Delete">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fillTable(hi) {
        let content = `
        <tr data-id='` + hi.ID + `'>
            <td>` + hi.name + `</td>
            <td class='text-center'>
                <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='editHI(` + hi.ID + `, 'edit')'><i class="bi bi-pencil"></i></button>
                <button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='deleteHI(` + hi.ID + `, 'delete')'><i class='fas fa-trash-alt'></i></button>
            </td>
        </tr>`;
        $('#HealthInsurancesTable').DataTable().row.add($(content)).draw();
    }

    function removeFromTable(id) {
        $('#HealthInsurancesTable').DataTable().row('[data-id="' + id + '"]').remove().draw();
    }

    function deleteHI(id, action) {
        Swal.fire({
            title: '¿Seguro deseas eliminar esta obra social?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-danger waves-effect waves-light px-3 py-2',
                cancelButton: 'btn btn-default waves-effect waves-light px-3 py-2'
            }
        })
        .then((result) => {
            if (result.isConfirmed) {
                $("#form-" + action + " input[name='id']").val(id);
                sendForm(action);
            }
        });
    }

    function sendForm(action) {
        let form = document.getElementById("form-" + action);
        $(form).addClass('was-validated');

        if (form.checkValidity() !== false) {
            // Enviar solicitud AJAX
            $.ajax({
                url: $(form).attr('action'), // Utiliza la ruta del formulario
                method: $(form).attr('method'), // Utiliza el método del formulario
                data: $(form).serialize(), // Utiliza los datos del formulario
                success: function(response) {
                    $("#btnCloseModalCreate").click();
                    Swal.fire({
                        icon: 'success',
                        title: response.message,
                        confirmButtonColor: '#1e88e5',
                    });
                    if (action === 'create') {
                        fillTable(response.data);
                    } else {
                        removeFromTable(response.data);
                    }
                },
                error: function(errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: errorThrown.responseJSON.title,
                        text: errorThrown.responseJSON.message,
                        confirmButtonColor: '#1e88e5',
                    });
                }
            });   
        }
    }
</script>

<script>
    $("#btnAddHI").on("click", function () {
        $("#form-create").removeClass('was-validated');
        $("#form-create input:not([type='hidden']").val("");
    });

    $('#HealthInsurancesTable').DataTable({
        "language": {
            // "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // La url reemplaza todo al español
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ obras sociales",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 obras sociales",
            "sInfoFiltered": "(filtrado de _MAX_ obras sociales en total)",
            "emptyTable": 'No hay obras sociales que coincidan con la búsqueda',
            "sLengthMenu": "Mostrar _MENU_ obras sociales",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
        },
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    

@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
