@model Optica_Gaido.Models.ViewModels.Sales.NewViewModel

@{
    ViewData["Title"] = "Nueva venta";
}

<!-- Styles -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/icheck/skins/all.css" rel="stylesheet" />
<link href="~/lib/wizard/steps.css" rel="stylesheet" />


<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>

<!-- Editable -->
<script src="~/lib/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/lib/tiny-editable/mindmup-editabletable.js"></script>
<script src="~/lib/tiny-editable/numeric-input-validation.js"></script>

<!-- icheck -->
<script src="~/lib/icheck/icheck.min.js"></script>
<script src="~/lib/icheck/icheck.init.js"></script>

<!-- Steps -->
<script src="~/lib/wizard/jquery.steps.min.js"></script>
@*<script src="~/lib/wizard/steps.js"></script>*@
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Ventas</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Sales" asp-action="Index">Ventas</a></li>
                <li class="breadcrumb-item active">Nueva</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body wizard-content">
                    <h4 class="card-title">Nueva venta</h4>
                    <h6 class="card-subtitle mb-0">@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")</h6>
                    <form asp-area="" asp-controller="Sales" asp-action="Create" class="tab-wizard wizard-circle" id="form_data">
                        <input asp-for="CreateViewModel.ClientID" value="@Model.Client.ID" type="hidden"/>
                        <!-- Step 1 -->
                        <h6>Cliente</h6>
                        <section>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-body">
                                        <h3 class="box-title">Cliente</h3>
                                        <hr class="m-t-0 m-b-20">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">Nombre:</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">@Html.DisplayFor(x => x.Client.Name)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">Apellido:</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">@Html.DisplayFor(x => x.Client.Surname)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">Teléfono:</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">@Html.DisplayFor(x => x.Client.Phone)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">Dirección:</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">@Html.DisplayFor(x => x.Client.Adress)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">@(Model.Client.Debt >= 0 ? "Deuda" : "Saldo a favor:")</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">$@(Model.Client.Debt >= 0 ? Model.Client.Debt.ToString("0.00") : (-Model.Client.Debt).ToString("0.00"))</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-md-right col-5">Obra social:</label>
                                                    <div class="col-7 pr-0">
                                                        <p class="form-control-static">@Html.DisplayFor(x => x.Client.HealthInsurance.Name)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h6>Datos</h6>
                        <section>
                            <h3 class="box-title">Datos</h3>
                            <hr class="m-t-0 m-b-20">
                            <div class="row col-12 m-0 p-0">


                                <!-- Precio -->
                                <div class="col-12 col-sm-6 col-lg-3 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.Price" class="mb-0"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input asp-for="CreateViewModel.Price" class="form-control" type="number" data-val-number="Debes ingresar un número" />
                                    </div>
                                </div>

                                <!-- Seña -->
                                <div class="col-12 col-sm-6 col-lg-3 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.Deposit" class="mb-0"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input asp-for="CreateViewModel.Deposit" class="form-control" type="number" data-val-number="Debes ingresar un número" />
                                    </div>
                                </div>

                                <!-- Tipo -->
                                <div class="col-6 col-lg-3 col-xxl-2 mb-3 d-flex justify-content-center align-items-center">
                                    <ul class="icheck-list p-0">
                                        @foreach (var item in Model.GlassTypes)
                                        {
                                            <li>
                                                <input type="radio" asp-for="CreateViewModel.GlassTypeID" value="@item.ID" id="type_@(item.ID)" class="check" data-radio="iradio_square-purple" />
                                                <label for="type_@item.ID" class="mb-0">@item.Name</label>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <!-- AR -->
                                <div class="col-6 col-lg-3 col-xxl-2 mb-3 d-flex justify-content-center align-items-center">
                                    <input asp-for="CreateViewModel.IsAr" class="" />
                                    <label asp-for="CreateViewModel.IsAr" class="mb-0"></label>
                                </div>

                                <!-- Altura película -->
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-2 mb-3">
                                    <label asp-for="CreateViewModel.MovieHeight" class="mb-0"></label>
                                    <div class="input-group">
                                        <input asp-for="CreateViewModel.MovieHeight" class="form-control" type="number" data-val-number="Debes ingresar un número" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text py-0 px-1">mm</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Color -->
                                <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.GlassColorID" class="mb-0"></label>
                                    @Html.DropDownListFor(x => x.CreateViewModel.GlassColorID, Model.GlassColors, null, new { @class = "form-control" })
                                </div>

                                <!-- DIP -->
                                <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.Dip" class="mb-0"></label>
                                    <input asp-for="CreateViewModel.Dip" class="form-control" />
                                    <span asp-validation-for="CreateViewModel.Dip" class="text-danger"></span>
                                </div>

                                <!-- Vendedor -->
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.SellerID" class="mb-0"></label>
                                    @Html.DropDownListFor(x => x.CreateViewModel.SellerID, Model.Sellers, null, new { @class = "form-control" })
                                    <span asp-validation-for="CreateViewModel.SellerID" class="text-danger"></span>
                                </div>

                                <!-- Doctor -->
                                <div class="col-12 col-lg-6 col-xxl-3 mb-3">
                                    <label asp-for="CreateViewModel.DoctorID" class="mb-0"></label>
                                    @Html.DropDownListFor(x => x.CreateViewModel.DoctorID, Model.Doctors, null, new { @class = "form-control" })
                                    <span asp-validation-for="CreateViewModel.DoctorID" class="text-danger"></span>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h6>Formato</h6>
                        <section>
                            <h3 class="box-title">Formato</h3>
                            <hr class="m-t-0 m-b-20">
                            <div class="row col-12 m-0 p-0">
                                <div class=" table-responsive">
                                    <table id="formatsTable" class="table table-bordered editable-table">
                                        <thead>
                                            <tr>
                                                <th class="col-3">Visión</th>
                                                <th class="col-3"></th>
                                                <th class="col-2">Esf.</th>
                                                <th class="col-2">Cil.</th>
                                                <th class="col-2">Eje</th>
                                            </tr>
                                        </thead>
                                        <tbody>            
                                            <tr>
                                                <td rowspan="2">Lejos</td>
                                                <td>Derecho</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Izquierdo</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">Cerca</td>
                                                <td>Derecho</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Izquierdo</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h6>Métodos de pago</h6>
                        <section>
                            <h3 class="box-title">Métodos de pago</h3>
                            <hr class="m-t-0 m-b-20">
                            <div class="row col-12 m-0 p-0">
                                @foreach (var item in Model.SalePaymentMethods)
                                {
                                    <div class="col-12 col-md-6 col-lg-3 col-xxl-3 mb-3">
                                        <div class="demo-switch-title">@(item.PaymentMethod.Name)</div>
                                        <div class="d-flex flex-row align-items-end justify-content-between">
                                            <div class="switch">
                                                <label>
                                                    <input type="checkbox" data-id="@item.PaymentMethod.ID" class="payment_method_checkbox"><span class="lever switch-col-light-blue"></span>
                                                </label>
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input name="SalePaymentMethod.Amount" data-id="@item.PaymentMethod.ID" class="form-control payment_method" disabled min="0" type="number" data-val-number="Debes ingresar un número" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#formatsTable').editableTableWidget().numericInputExample();
    });
    $(".tab-wizard").steps({
        headerTag: "h6"
        , bodyTag: "section"
        , transitionEffect: "fade"
        , titleTemplate: '<span class="step">#index#</span> #title#'
        , labels: {
            cancel: "Cancelar",
            next: "Siguiente",
            previous: "Anterior",
            finish: "Vender",
        }
        , onFinished: function (event, currentIndex) {
            if (validateData()) {
                sendForm();
            }
        }
    });
</script>

<script>
    $('form select').each(function () {
        $(this).val($(this).find('option:first').val());
    });

    $('form .payment_method').each(function () {
        $(this).val("");
    });
    
    $('form .payment_method_checkbox').on("change", function () {
        let checkbox = $(this);
        let input = checkbox.closest(".d-flex").find(".payment_method");

        // Habilitar o deshabilitar el input según el estado del checkbox
        if (checkbox.is(":checked")) {
            input.prop("disabled", false);
        } else {
            input.prop("disabled", true);
        }
    });

    const fireAlert = (text) => {
        Swal.fire({
            icon: 'warning',
            title: 'ALERTA',
            text: text,
            showCancelButton: false,
            confirmButtonColor: '#1e88e5',
            confirmButtonText: 'OK',
            allowOutsideClick: false,
        });
        return false;
    };

    let paymentMethodsData;
    function validatePaymentMethods() {
        // Obtener los métodos de pago seleccionados
        let paymentMethods = [];
        $(".payment_method_checkbox:checked").each(function () {
            let checkbox = $(this);
            let payment_method_id = checkbox.data("id");
            let amountInput = $(`input[data-id='${payment_method_id}'][type='number']`);

            let paymentMethod = {
                PaymentMethodID: payment_method_id,
                Amount: amountInput.val()
            };

            paymentMethods.push(paymentMethod);
        });

        // Crear un objeto que contenga los métodos de pago y sus cantidades
        paymentMethodsData = {
            CreateViewModel: {
                SalePaymentMethods: paymentMethods
            }
        };
        if (paymentMethods.length <= 0) return fireAlert("Debes ingresar al menos un método de pago");

        return true;
    }

    function validateSale() {
        let price = $("input[name='CreateViewModel.Price']").val();
        let deposit = $("input[name='CreateViewModel.Deposit']").val();
        let glassType = $('.icheck-list input[type="radio"]').filter(':checked');
        let glassColor = $("select[name='CreateViewModel.GlassColorID']").val();
        let movieHeight = $("input[name='CreateViewModel.MovieHeight']").val();
        let dip = $("input[name='CreateViewModel.Dip']").val();
        let seller = $("select[name='CreateViewModel.SellerID']").val();
        let doctor = $("select[name='CreateViewModel.DoctorID']").val();

        if (price == "" || isNaN(parseInt(price))) return fireAlert("Debes ingresar un precio");
        if (deposit.length > 0 && isNaN(parseInt(deposit))) return fireAlert("Debes ingresar una seña válida");
        if (glassType.length <= 0) return fireAlert("Debes ingresar tipo de vidrio");
        if (glassColor == null) return fireAlert("Debes ingresar un color de vidrio");
        if (movieHeight == "" || isNaN(parseInt(movieHeight))) return fireAlert("Debes ingresar una altura de película");
        if (dip == "") return fireAlert("Debes ingresar una distancia interpupilar");
        if (seller == null) return fireAlert("Debes ingresar un vendedor/a");
        if (doctor == null) return fireAlert("Debes ingresar un médico");

        return true;
    }

    let formatsData;
    function validateFormats() {
        let formats = [];

        // Obtener los valores de las columnas 3, 4 y 5 de todas las filas
        $('#formatsTable tbody tr').each(function (index) {
            let $row = $(this);
            let rowNumber = index + 1;
            let esferic = $row.find('td:eq(2)').text().trim();
            let cilindric = $row.find('td:eq(3)').text().trim();
            let axis = $row.find('td:eq(4)').text().trim();

            // Agregar los valores al arreglo
            if (esferic != '' && cilindric != '' && axis != '' && esferic != null && cilindric != null && axis != null) {
                formats.push({
                    Distance: rowNumber > 2 ? 1 : 2, // 1=Cerca 2=Lejos
                    Eye: (index % 2 === 0) ? 1 : 2, // 1=Derecho 2=Izquierdo
                    Esferic: esferic,
                    Cilindric: cilindric,
                    Axis: axis
                });
            }
        });

        formatsData = {
            CreateViewModel: {
                GlassFormats: formats
            }
        };

        // Validar que exista al menos una fila completa
        if (formats.length == 0) {
            return fireAlert("Debes completar al menos una fila del formato");
        } else {
            // Verificar si las propiedades son números
            formats.forEach(function (format) {
                if (format.Esferic != '' && format.Esferic != null && format.Cilindric != '' && format.Cilindric != null && format.Axis != '' && format.Axis != null) {
                    if (isNaN(parseFloat(format.Esferic))) return fireAlert("Alguno de los campos del formato no es válido");
                    if (isNaN(parseFloat(format.Cilindric))) return fireAlert("Alguno de los campos del formato no es válido");
                    if (isNaN(parseFloat(format.Axis))) return fireAlert("Alguno de los campos del formato no es válido");
                }
            });
        }

        return true;
    }

    function validateData() {
        if (!validateSale()) return false;
        if (!validateFormats()) return false;
        if (!validatePaymentMethods()) return false;
        return true;
    }

    function sendForm() {
        let form = $("#form_data");

        // Enviar solicitud AJAX
        $.ajax({
            url: $(form).attr('action'), // Utiliza la ruta del formulario
            method: $(form).attr('method'), // Utiliza el método del formulario
            data: $(form).serialize() + "&" + $.param(paymentMethodsData) + "&" + $.param(formatsData), // Utiliza los datos del formulario
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: response.message,
                    confirmButtonColor: '#1e88e5',
                });
                $("#btnCloseModalCreate").click();
                if (action === 'create') {
                    fillTable(response.data);
                } else if (action === 'edit') {
                    fillTable(response.data);
                    removeFromTable(response.data.id);
                } else {
                    removeFromTable(response.data);
                }
            },
            error: function (errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: errorThrown.responseJSON.title,
                    text: errorThrown.responseJSON.message,
                    confirmButtonColor: '#1e88e5',
                });
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>