@model Optica_Gaido.Models.ViewModels.Providers.DebtsViewModel

@{
    ViewData["Title"] = "Proveedores";
}

<!-- Data table -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Deudas</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Providers" asp-action="Index">Proveedores</a></li>
                <li class="breadcrumb-item active">Deudas</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Modal -->
    <div id="modalCreate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div id="formContainer" class="modal-dialog">
            <form role="form" class="" method="POST" asp-area="" asp-controller="Providers" asp-action="CreateDebt" id="form-create" autocomplete="off">
                <input type="hidden" name="CreateViewModel.ID" value="" />
                @Html.AntiForgeryToken()
                <input type="hidden" name="CreateViewModel.ProviderID" value="@Model.Provider.ID" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar deuda</h4>
                        <button type="button" class="close" id="btnCloseModal" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.Description" class="mb-0"></label>
                                        <input asp-for="CreateViewModel.Description" class="form-control" required />
                                        <span asp-validation-for="CreateViewModel.Description" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.Price" class="mb-0"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CreateViewModel.Price" class="form-control" required data-val-number="Debes ingresar un número" />
                                        </div>
                                        <span asp-validation-for="CreateViewModel.Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Modal pay -->
    <div id="modalPay" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <form role="form" class="" method="POST" asp-area="" asp-controller="Providers" asp-action="PayDebt" id="form-pay" autocomplete="off">
                @Html.AntiForgeryToken()
                <input type="hidden" name="DebtPayment.DebtID" value="" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="modalTitle" class="modal-title">Pagar deuda</h3>
                        <button type="button" class="close ml-auto" id="btnCloseModalPay" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div class="col-12 mb-3">
                                        <label asp-for="DebtPayment.Amount" class="mb-0"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="DebtPayment.Amount" class="form-control" required data-val-number="Debes ingresar un número" />
                                        </div>
                                        <span asp-validation-for="DebtPayment.Amount" class="text-danger"></span>
                                        <h4 id="modalSubtitle" class="modal-subtitle mt-1" style="color: #99abb4"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Pagar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">@Html.DisplayFor(x => x.Provider.Name)</h2>
            <hr />
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h2 class="card-title">Listado de deudas</h2>
                        <button id="btnAdd" type="button" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal" data-target="#modalCreate">Agregar deuda</button>
                    </div>
                    <div class="table-responsive m-t-10">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="col-4">Descripción</th>
                                    <th class="col-2">Monto</th>
                                    <th class="col-2">Pagado</th>
                                    <th class="col-2">Fecha</th>
                                    <th class="col-2">Acción</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (var item in Model.Debts)
                                {
                                    <tr data-id="@item.ID">
                                        <td>@Html.DisplayFor(x => item.Description)</td>
                                        <td>$@Html.DisplayFor(x => item.Price)</td>
                                        <td>$@(item.DebtPayment.Sum(x => x.Amount).ToString("F0"))</td>
                                        <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='pay(@Json.Serialize(item))' data-toggle="modal" data-target="#modalPay"><i class="bi bi-cash"></i></button>
                                                <button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='deleteObj(@item.ID)'><i class='bi bi-trash3'></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <form id="form-delete" method="POST" asp-area="" asp-controller="Providers" asp-action="SoftDeleteDebt">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function createDate(date) {
        return new Date(date).toLocaleString("es-AR", {
            day: "2-digit",
            month: "2-digit",
            year: "numeric",
        });
    }

    $("#btnAdd").on("click", function () {
        $("#form-create input[name='CreateViewModel.Description']").val("");
        $("#form-create input[name='CreateViewModel.Price']").val("");
    });

    function pay(item) {
        $('#form-pay input[name="DebtPayment.DebtID"]').val(item.id);
        $("#modalTitle").text(`Pagar deuda de "${item.description}"`);
        $("#form-pay input[name='DebtPayment.Amount']").val("");
        let totalAmount = item.debtPayment.reduce(function (sum, payment) {
            return sum + payment.amount;
        }, 0);
        $("#modalSubtitle").text("Adeudas: $" + (item.price - totalAmount));
    }

    function fillTable(item) {
        let total = item.debtPayment.reduce(function (sum, payment) {
            return sum + payment.amount;
        }, 0);
        let content = `
            <tr data-id='${item.id}'>
                <td>${item.description}</td>
                <td>$${item.price}</td>
                <td>$${total}</td>
                <td>${createDate(item.createdAt)}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='pay(${JSON.stringify(item)})' data-toggle="modal" data-target="#modalPay"><i class="bi bi-cash"></i></button>
                        <button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='deleteObj(${item.id})'><i class='bi bi-trash3'></i></button>
                    </div>
                </td>
            </tr>`;
        $('#DataTable').DataTable().row.add($(content)).draw();
    }

    function removeFromTable(id) {
        $('#DataTable').DataTable().row(`[data-id="${id}"]`).remove().draw();
    }

    function deleteObj(id) {
        Swal.fire({
            title: "¿Seguro deseas eliminar esta deuda?",
            text: "Esta acción no se puede deshacer",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-danger waves-effect waves-light px-3 py-2',
                cancelButton: 'btn btn-default waves-effect waves-light px-3 py-2'
            }
        })
        .then((result) => {
            if (result.isConfirmed) {
                $("#form-delete input[name='id']").val(id);
                sendForm("delete");
            }
        });
    }

    function sendForm(action) {
        let form = document.getElementById(`form-${action}`);

        let errors = $(".input-validation-error");

        if (errors.length === 0) {
            // Enviar solicitud AJAX
            $.ajax({
                url: $(form).attr('action'), // Utiliza la ruta del formulario
                method: $(form).attr('method'), // Utiliza el método del formulario
                data: $(form).serialize(), // Utiliza los datos del formulario
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: response.message,
                        confirmButtonColor: '#1e88e5',
                    });
                    if (action === 'create') {
                        $("#btnCloseModal").click();
                        fillTable(response.data);
                    } else {
                        $("#btnCloseModalPay").click();
                        removeFromTable(response.data.id);
                        fillTable(response.data);
                    }
                },
                error: function (errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: errorThrown.responseJSON.title,
                        text: errorThrown.responseJSON.message,
                        confirmButtonColor: '#1e88e5',
                    });
                }
            });
        }
    }
</script>

<script>
    $("#form-create").on("submit", function (e) {
        e.preventDefault();
        sendForm("create");
    });
    
    $("#form-pay").on("submit", function (e) {
        e.preventDefault();
        let totalAmount = $("#modalSubtitle").text().split("$")[1];
        let inputValue = $("#form-pay input[name='DebtPayment.Amount']").val();
        if (inputValue === "") {
            Swal.fire({
                icon: 'warning',
                title: 'ALERTA',
                text: 'Debes ingresar un monto',
                confirmButtonColor: '#1e88e5',
            });
            return;
        } else if (parseInt(inputValue) <= 0) {
            Swal.fire({
                icon: 'warning',
                title: 'ALERTA',
                text: 'El monto debe ser superior a $0',
                confirmButtonColor: '#1e88e5',
            });
            return;
        } else if (parseInt(inputValue) > parseInt(totalAmount)) {
            Swal.fire({
                icon: 'warning',
                title: 'ALERTA',
                text: 'El monto no puede ser mayor a la deuda',
                confirmButtonColor: '#1e88e5',
            });
            return;
        }
        sendForm("pay");
    });

    $('#DataTable').DataTable({
        "language": {
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ deudas",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 deudas",
            "sInfoFiltered": "(filtrado de _MAX_ deudas en total)",
            "emptyTable": 'No hay deudas que coincidan con la búsqueda',
            "sLengthMenu": "Mostrar _MENU_ deudas",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
        },
        "order": [[3, "desc"]],
    });</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>