@model Optica_Gaido.Models.ViewModels.Home.IndexViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Inicio";
    DateTime today = DateTime.UtcNow.AddHours(-3);
    int threeMonths = DateTime.UtcNow.AddHours(-3).Month - 6;
}

<link href="~/lib/css-chart/css-chart.css" rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="~/lib/c3-master/c3.min.css" rel="stylesheet">
<!-- Vector CSS -->
<link href="~/lib/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

<!-- Data table -->
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<!-- This is data table -->
<script src="~/lib/datatables/datatables.min.js"></script>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Inicio</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Inicio</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        @{
            if (today.Day == 9)
            {
            <div class="py-3 mb-3 col-12" style="border-style: solid; border-color: rgba(56,139,253,0.4); background-color: rgb(56, 139, 253, 0.2);">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div>RECORDATORIO: Hoy es @today.Day de @today.ToString("MMMM", new CultureInfo("es-AR")), debes transferir @(Model.AmountToPay != null ? "$" + Model.AmountToPay : "el valor de $15 USD blue") a Martín (Cuota: @(threeMonths + "/3")). CBU: 1430001713024710700012</div>
                </div>
            </div>
            }
        }
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-currency-usd"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-light">$@Model.MonthlyEarnings.ToString("N0", new CultureInfo("es-ES"))</h3>
                            <h5 class="text-muted m-b-0">
                                Recaudado en el mes
                                <a class="mytooltip" href="javascript:void(0)">
                                    <i class="bi bi-info-circle"></i>
                                    <span class="tooltip-content5">
                                        <span class="tooltip-text3">
                                            <span class="tooltip-inner2 d-flex">
                                                <table>
                                                    <tbody>
                                                        @foreach (var item in Model.PaymentMethods)
                                                        {
                                                        <tr>
                                                            <td><h6 class="text-white text-left">@item.PaymentMethod.Name: $@item.Amount.ToString("N0", new CultureInfo("es-ES"))</h6></td>
                                                        </tr>
                                                        }                                                    
                                                        </tbody>
                                                </table>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-cash-multiple"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$@Model.MonthlyExpenses.ToString("N0", new CultureInfo("es-ES"))</h3>
                            <h5 class="text-muted m-b-0">Gastos del mes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-clock-fast"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$@Model.ProvidersDebts.ToString("N0", new CultureInfo("es-ES"))</h3>
                            <h5 class="text-muted m-b-0">Deudas con proveedores</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-success"><i class="mdi mdi-shopping"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">@Model.TotalSales</h3>
                            <h5 class="text-muted m-b-0">Cantidad de recetas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <div>
                            <h4 class="card-title">Nueva venta</h4>
                            <h5 class="card-subtitle">@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")</h5>
                        </div>
                        <a type="button" class="btn btn-info btn-rounded my-auto mx-auto mx-sm-0 waves-effect waves-light float-right" asp-action="New" asp-controller="SimpleSales" asp-area="" >Venta de productos</a>
                    </div>
                    <div class="table-responsive m-t-20">
                        <table class="table stylish-table" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="col-5">Nombre</th>
                                    <th class="col-3">Obra Social</th>
                                    <th class="col-2">Deuda</th>
                                    <th class="col-2 text-center">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Clients)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-row justify-content-start align-items-end">
                                                <span class="round mr-3">@Html.DisplayFor(c => item.Name[0])@Html.DisplayFor(c => item.Surname[0])</span>
                                                <div>
                                                    <h6>@Html.DisplayFor(c => item.Surname), @Html.DisplayFor(c => item.Name)</h6>
                                                    <small class="text-muted"><i class="bi bi-telephone"></i> @Html.DisplayFor(c => item.Phone)</small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@(item.HealthInsuranceID != null ? Html.DisplayFor(c => item.HealthInsurance.Name) : "-")</td>
                                        @switch (Math.Sign(item.Debt))
                                        {
                                            case 1:
                                                <td>$@item.Debt.ToString("N0", new CultureInfo("es-ES"))</td>
                                                break;
                                            case -1:
                                                <td>A favor $@((-item.Debt).ToString("N0", new CultureInfo("es-ES")))</td>
                                                break;
                                            case 0:
                                                <td>$@Html.DisplayFor(c => item.Debt)</td>
                                                break;
                                            default:
                                                <td>-</td>
                                                break;
                                        }
                                        <td>
                                            <div class='d-flex flex-row justify-content-center'>
                                                <button name="btnSale" type='button' class='btn btn-outline-info mr-2' data-id="@item.ID"><i class="bi bi-arrow-return-right"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#dataTable').DataTable({
        "language": {
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ clientes",
            "sInfoEmpty": "Mostrando 0 a 0 de 0 clientes",
            "sInfoFiltered": "(filtrado de _MAX_ clientes en total)",
            "emptyTable": 'No hay clientes que coincidan con la búsqueda',
            "sLengthMenu": "Mostrar _MENU_ clientes",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
        },
    });

    $("button[name='btnSale']").on("click", function () {
        Swal.fire({
            title: '¿Qué tipo de venta desea realizar?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Receta',
            denyButtonText: 'Productos',
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-info waves-effect waves-light px-3 py-2 mr-2',
                denyButton: 'btn btn-success waves-effect waves-light px-3 py-2 mr-2',
                cancelButton: 'btn btn-default waves-effect waves-light px-3 py-2',
            }
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Sales/New/" + $(this).data("id");
            } else if (result.isDenied) {
                window.location.href = "/SimpleSales/New/" + $(this).data("id");
            }
        })
    });
</script>